*.iml
/title-basics-service/target/
/spring-boot-web-dependencies/target/
/eureka-service/target/
/dto/target/
/docker-images/target/
/data/
/.idea/

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
