<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="styles">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          th:href="@{/styles.css}"/>
</th:block>
<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:src="@{/core.js}" type="application/javascript"></script>
</th:block>

<th:block th:fragment="genre_option(value)">
    <th:block
            th:if="${value == #httpServletRequest.getParameter('genre') || (value == 'Any' && #httpServletRequest.getParameter('genre') == null)}">
        <option th:value="${value}" th:text="${value}" selected/>
    </th:block>

    <th:block
            th:if="${value != #httpServletRequest.getParameter('genre')}">
        <option th:value="${value}" th:text="${value}"/>
    </th:block>
</th:block>

<th:block th:fragment="search_form">
    <form th:action="@{/search}" method="get">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="keywords">Keywords</label>
                <input type="text" id="keywords" name="term" class="form-control" placeholder="Keywords"
                       th:value="${#httpServletRequest.getParameter('term')}">
            </div>
            <div class="form-group col-md-4">
                <label for="genre">Genre</label>
                <select id="genre" name="genre" class="form-control">
                    <th:block th:replace="~{ :: genre_option('Any')}"/>
                    <th:block th:each="kv : ${genresWithTitles}">
                        <th:block th:replace="~{ :: genre_option(${kv.key})}"/>
                    </th:block>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="year">Year</label>
                <input type="number" id="year" name="startYear" class="form-control" placeholder="Year"
                       th:value="${#httpServletRequest.getParameter('startYear')}"/>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

    </form>

</th:block>

<th:block th:fragment="search_results_pagination_link_prev">
    <a class="page-link"
       data-toggle="tooltip" data-placement="left" th:title="'Page: ' + ${page.page+1} + '/' + ${page.pages}"
       th:href="@{~/search(term=${term}, genre=${genre}, startYear=${startYear}, page=${page.page-1}, perPage=${page.perPage})}"
       tabindex="-1" aria-disabled="true">Prev</a>
</th:block>

<th:block th:fragment="search_results_pagination_link_next">
    <a class="page-link"
       data-toggle="tooltip" data-placement="right" th:title="'Page: ' + ${page.page+1} + '/' + ${page.pages}"
       th:href="@{~/search(term=${term}, genre=${genre}, startYear=${startYear}, page=${page.page+1}, perPage=${page.perPage})}">Next</a>
</th:block>

<th:block th:fragment="pagination(prev_link, next_link)">
    <nav th:if="${page.pages > 1}" aria-label="Pagination">

        <ul class="pagination justify-content-center">
            <li th:if="${page.page > 0}" class="page-item">
                <th:block th:replace="${prev_link}"/>
            </li>

            <li th:if="${page.page + 1 < page.pages}" class="page-item">
                <th:block th:replace="${next_link}"/>
            </li>
        </ul>

    </nav>

</th:block>

<th:block th:fragment="search_titles_list">
    <th:block th:replace="~{fragments :: search_form}"/>
    <th:block
            th:replace=":: titles_list( ~{:: pagination(~{ :: search_results_pagination_link_prev}, ~{ :: search_results_pagination_link_next})} )"/>
</th:block>

<th:block th:fragment="titles_list(pagination)">
    <div th:if="${!page.items.isEmpty()}" class="search-stats text-right">
        <p>
            <span class="badge badge-secondary"
                  th:text="${'Page: ' + (page.page+1) + ' of ' + page.pages + ', Items: ' + page.itemsCount + ', Items Per Page: ' + page.perPage  + ', Items Total: ' + page.total}"/>
        </p>
    </div>
    <div th:if="${!page.items.isEmpty()}" th:each="title : ${page.items}" class="title_list_card">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">
                    <th:block th:replace="~{ title-fragments :: title_name(${title})}"/>
                </h5>
                <p class="card-text">
                    <th:block th:replace="~{title-fragments :: title_brief(${title})}"/>
                </p>
                <a th:href="@{~/title/{titleId}(titleId=${title.titleId})}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>

    <div th:if="${page.items.isEmpty()}" class="no-results">
        <div class="card ">
            <div class="card-body">
                No Results Found
            </div>
        </div>
    </div>

    <th:block
            th:replace="${pagination}"/>

</th:block>

<th:block th:fragment="page_header">
    <div class="header">
        <img th:src="@{/images/imdb.png}" class="logo"/>
    </div>
</th:block>


<th:block th:fragment="menu">
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" th:href="@{~/}">
                    <img th:src="@{/images/imdb.png}" width="65" alt="">
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Genres</a>
                        <div class="dropdown-menu">
                            <a th:each="kv : ${genresWithTitles}" th:href="@{~/search(genre=${kv.key})}"
                               class="dropdown-item">
                                <th:block th:text="${kv.key}"/>
                                <span class="badge badge-secondary" th:text="${kv.value}"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                    <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</th:block>

<th:block th:fragment="footer">
    <div class="footer">
        <th:block th:text="'Created by Andrii Frunt'"/>
    </div>
</th:block>


</body>
</html>