<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="basic_page(content_fragment)">
    <div class="container-fluid">


        <div class="row menu">
            <div class="col-2">
            </div>
            <div class="col-8">
                <th:block th:replace="~{fragments :: menu}" />
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row content">
            <div class="col-2">
            </div>
            <div class="col-8">
                <th:block th:replace="${content_fragment}"/>
            </div>
            <div class="col-2">
            </div>
        </div>

        <div class="row footer">
            <div class="col-2">
            </div>
            <div class="col-8">
                <th:block th:replace="~{fragments :: footer}" />
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="error_page">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-1">
            </div>
            <div class="col-10">
                <th:block th:replace="~{fragments :: page_header}"/>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row content">
            <div class="col-1">
            </div>
            <div class="col-10">
                <th:block th:replace="~{page :: error}"/>
            </div>

            <div class="col-1">
            </div>
        </div>
    </div>
</th:block>
</body>
</html>