<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="title_name(title)">
    <th:block th:text="${title.primaryTitle + (title.startYear != null ? ' (' + title.startYear + ')' : '')}"/>
</th:block>

<th:block th:fragment="title_brief(title)">
    <th:block th:text="${title.originalTitle}"/>
    <th:block th:text="${title.runtimeMinutes != null ? ' | ' + title.runtimeMinutes + 'min ' : ''}"/>

    <th:block th:each="genre,iter : ${title.genres}" th:text="${(iter.index != 0 ? ', ':' | ') + genre}"/>
</th:block>

</body>
</html>